*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
    background: #060a1f;
    text-align: center;
}
nav{
	position: relative;
	width: 170px;
	height: 70px;
	border: 1px solid #ddd;
	border-radius: 5px;
	background: #080e2b;
	cursor: pointer;
	transition: all .5s; 
}
nav:before{
	content: "MENU";
	position: absolute;
	color: #ddd;
	font-size: 26px;
	font-weight: 800;
	letter-spacing: 1px;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 100;
	transition: all .5s;
}
nav ul{
	list-style: none;
	display: flex;
	line-height: 70px;
	justify-content: center;
}
nav ul a{
	color: #a9b5ef;
	text-decoration: none;
	font-size: 22px;
	margin: 0 -50px;
	border-radius: 5px;
	letter-spacing: 1px;
	opacity: 0;
	pointer-events: none;
}
nav ul a:hover,nav ul a.active{
	background: #060a1f;
	transition: all .3s;
}
nav._expand{
	width: 730px;
}
nav._expand ul a{
	margin: 0 10px;
	padding: 10px 15px;
	opacity: 1;
	pointer-events: auto;
}
nav._expand:before{
	opacity: 0;
	pointer-events: none;
}